.image {
    text-align: center;
}
main {
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}
.footer {
    width: 1000px;
    margin: auto;
    text-align: center;
}
h1 {
    text-align: center;
}
.table1 {
    width: 600px;
    height: 300px;
    margin: 30px auto 30px auto;
    border: 0px solid black;
}
.table1 td {
    text-align: center;
    padding: 10px;
    width: 250px;
    border: 1px solid black;
}
.table2 {
    width: 900px;
    margin: auto;
}
.table2 td{
    vertical-align: top;
}
tr {
    border-bottom: 1px;
}
p {
    text-align: left;
}
figure {
    float: right;
    text-align: center;
    width: 300px;
}
.map {
    width: 300px
}
.adv {
    text-align: center;
}
.ikea {
    width: 300px;
    float: left;
    margin: 5px 10px 5px 5px;
}
.adress1 {
    float: left;
    width: 45%;
}
.adress2 {
    float: right;
    width: 45%;
}
.adress2 p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: normal;
}
